flet==0.86.5
flet-video
mysql-connector-python
PyMuPDF
openpyxl
python-dotenv
bcrypt
requests
fastapi
uvicorn
SpeechRecognition
pyaudio
python-multipart
gTTS
edge-tts
opencv-python-headless
numpy
pillow
