# Entornos virtuales
.venv/
venv/
env/
__pycache__/

# Secretos y Configuración
.env
config.json
*.pem
*.key
*.cert

# Bases de datos y respaldos
*.sql
*.sqlite3
*.db

# Archivos del sistema
.DS_Store
Thumbs.db

# Temporales y multimedia
uploads/
custom_assets/temp_audio/
custom_assets/temp_pdfs/
*.log
*.exe
enfoque_diario_state_*.json
